@use "sass:list";
@use "variables";

$i: 1;

@while $i <= list.length(variables.$colors) {
  .square-#{$i} {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 5px solid;
    border-color: list.nth(variables.$colors, $i);
    background-image: url(list.nth(variables.$images, $i));
    background-size: cover;
    background-position: center;
    margin: 5px;
    padding: 8px;
  }
  $i: $i + 1;
}
